  
        /*
        *
        * ==========================================
        * FOR DEMO PURPOSE
        * ==========================================
        *
        */
        body {
          background: #599fd9;
          background: -webkit-linear-gradient(to right, #599fd9, #c2e59c);
          background: linear-gradient(to right, #599fd9, #c2e59c);
          min-height: 100vh;
          overflow-x: hidden;
        }

        .separator {
          margin: 3rem 0;
          border-bottom: 1px dashed #fff;
        }
        .text-uppercase {
          letter-spacing: 0.1em;
        }
        .text-gray {
          color: #aaa;
        }
          
        /* Other styles for the page not related to the animated dropdown */
        
        /* css from back-to-top */
        .back-to-top {
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 20px;
        display:none;
        }

        /*Ajax from interactive charts*/
        body {
          font-family: 'Varela Round', sans-serif;
        }
        .modal-login {
          width: 350px;
        }
        .modal-login .modal-content {
          padding: 20px;
          border-radius: 1px;
          border: none;
        }
        .modal-login .modal-header {
          border-bottom: none;
              position: relative;
          justify-content: center;
        }
        .modal-login h4 {
          text-align: center;
          font-size: 26px;
        }
          .modal-login .form-group {
              margin-bottom: 20px;
          }
        .modal-login .form-control, .modal-login .btn {
          min-height: 40px;
          border-radius: 30px; 
              font-size: 15px;
              transition: all 0.5s;
        }
          .modal-login .form-control {
              font-size: 13px;
          }
          .modal-login .form-control:focus {
              border-color: #a177ff;
          }
        .modal-login .hint-text {
          text-align: center;
          padding-top: 10px;
        }
        .modal-login .close {
              position: absolute;
          top: -5px;
          right: -5px;
        }
        .modal-login .btn {
          background: #a177ff;
          border: none;
          line-height: normal;
        }
        .modal-login .btn:hover, .modal-login .btn:focus {
          background: #8753ff;
        }
        .modal-login .hint-text a {
          color: #999;
        }
        .trigger-btn {
          display: inline-block;
          margin: 100px auto;
        }

/*css from upload.html*/
.registration-form{
  padding: 50px 0;
  }

  .registration-form form{
      background-color: #fff;
      max-width: 600px;
      margin: auto;
      padding: 50px 70px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  }

  .registration-form .item{
    border-radius: 20px;
      margin-bottom: 25px;
      padding: 10px 20px;
  }


  @media (max-width: 576px) {
      .registration-form form{
          padding: 50px 20px;
      }


  }    