<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Labvis - Gráfico de Barras</title>
        
            <!-- Bootstrap core CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- Custom styles for this template -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
        </head>

    <body>
        <!-- Portfolio Section -->
        
        <div class="container text-center">
            <h1 class="mt-5 text-white font-weight-light"><br> Bar Plots</h1>
        </div>
        <header>
            <!--Pic test-->
            <div class="photo-gallery">
                <div class="container">
                    <div class="intro">
                    </div>
                    <div class="row photos">
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar0.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar0.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar1.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar1.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar2.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar2.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar3.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar3.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar4.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar4.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar5.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar5.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar6.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar6.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar7.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar7.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar8.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar8.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar9.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar9.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar10.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar10.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar11.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar11.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar12.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar12.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar13.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar13.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar14.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar14.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar15.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar15.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar16.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar16.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar17.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar17.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar18.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar18.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar19.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar19.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar20.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar20.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar21.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar21.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar22.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar22.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar23.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar23.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar24.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar24.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar25.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar25.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar26.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar26.png?raw=true"></a></div>
                        <div class="col-sm-3 col-md-3 col-lg-3 item"><a href="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar27.png?raw=true" data-lightbox="photos"><img class="img-fluid img-thumbnail" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar27.png?raw=true"></a></div>
                    </div>
                </div>
            </div>
          <!--End Pic test-->
        </header>

    </body>
</html>
