<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Labvis - Gráfico de Pizza</title>

    <!-- Bootstrap core CSS -->
    <link href="C:\Users\labvis\Documents\flask\app\static\vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="C:\Users\labvis\Documents\flask\app\static\css\modern-business.css" rel="stylesheet">
    <style>
        @media (min-width: 992px) {
            .animate {
                animation-duration: 0.3s;
                -webkit-animation-duration: 0.3s;
                animation-fill-mode: both;
                -webkit-animation-fill-mode: both;
            }
        }

        @keyframes slideIn {
            0% {
                transform: translateY(1rem);
                opacity: 0;
            }

            100% {
                transform: translateY(0rem);
                opacity: 1;
            }

            0% {
                transform: translateY(1rem);
                opacity: 0;
            }
        }

        @-webkit-keyframes slideIn {
            0% {
                -webkit-transform: transform;
                -webkit-opacity: 0;
            }

            100% {
                -webkit-transform: translateY(0);
                -webkit-opacity: 1;
            }

            0% {
                -webkit-transform: translateY(1rem);
                -webkit-opacity: 0;
            }
        }

        .slideIn {
            -webkit-animation-name: slideIn;
            animation-name: slideIn;
        }

        /* Other styles for the page not related to the animated dropdown */

        body {
            background: #3f51b5;
            background: linear-gradient(to right, #ff5722 deep-orange, #ff7043 deep-orange lighten-1);
        }

    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <link rel="shortcut icon" href="https://labvis-ufpa.github.io//favicon.png">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="index.html"> <strong>LABVIS</strong> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="about">Sobre o Projeto</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="refe"> Referências </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gráficos
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="gra-bar.html">Gráficos de barras</a>
                            <a class="dropdown-item" href="gra-pie.html">Gráficos de tortas</a>
                            <a class="dropdown-item" href="gra-scatterplot.html">Scatter plots</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mais
                        </a>

                        <!-- Here's the magic. Add the .animate and .slide-in classes to your .dropdown-menu and you're all set! -->
                        <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="http://labvis.ufpa.br/">LABVIS</a>
                            <a class="dropdown-item" href="https://portal.ufpa.br/">UFPa</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://github.com/nolovedeepdev/flask">Github do projeto</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <h1 class="mt-5 text-white font-weight-light">Laboratório de Visualização, Interação e Sistemas Inteligentes </h1>
        <p class="lead text-white-50">Instrução</p>
    </div>
    <!--end navigation-->

        <!-- Portfolio Section -->
        <h2><strong>Gráficos</strong></h2>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" url="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar0.png?raw=true" alt="LABVIS"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 1</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" url="C:\Users\mathe\Documents\CBCC2020\LABVIS\flask\app\static\png\bar0.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 2</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 3</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/450x269" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 4</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 5</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 6</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" url="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar0.png?raw=true" alt="LABVIS"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 7</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" url="C:\Users\mathe\Documents\CBCC2020\LABVIS\flask\app\static\png\bar0.png" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">PGráfico 8</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 9</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/450x269" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 10</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 11</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 12</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
        </div>

        
        
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Gráficos de dados, tais como barra, linha e pizza, são amplamente utilizados em diversos contextos cotidianos das pessoas, desde propagandas em jornais, revistas e internet, passando pelo acompanhamento financeiro, até dados científicos, entre muitos outros. Dada a diversidade de cenários e propósitos de uso de dados, a área de Visualização da Informação (InfoVis) tem se expandido devido à sua capacidade de apresentar insights significativos sobre conjuntos de dados cada vez maiores e complexos.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a>
        </div>
    </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Laboratório de Visualização, Interação e Sistemas Inteligentes</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
