<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Labvis</title>

    <!-- Bootstrap core CSS -->
    <link href="C:\Users\labvis\Documents\flask\app\static\css\bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="C:\Users\labvis\Documents\flask\app\static\css\modern-business.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        
        .top-nav-collapse, .page-footer {
            background-color: #563e91 !important;
        }

        .navbar:not(.top-nav-collapse) {
            background: transparent !important;
        }

        @media (max-width: 991px) {
            .navbar:not(.top-nav-collapse) {
                background: #563e91 !important;
            }
        }

        /* Other styles for the page not related to the animated dropdown */

        body {
            background: rgba(35, 7, 77, 0.6);;
            background: -webkit-linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, rgba(204, 83, 51, 0.6), rgba(35, 7, 77, 0.6));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="index">LABVIS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item">
                        <a class="nav-link" href="about" data-offset="90">Sobre o projeto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="bar" data-offset="90">Bar PLots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pie" data-offset="90">Pie Plots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="scatter" data-offset="30">Scatter Plots</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://labvis.ufpa.br/" data-offset="90">O laboratório</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/nolovedeepdev/flask" data-offset="90">UFPa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Iniciação -->
    <div class="container text-center">
        <h1 class="mt-5 text-white font-weight-light">Laboratório de Visualização, Interação e Sistemas Inteligentes </h1>
        <p class="lead text-white-50"></p>
    </div>
    <!--end navigation-->
    
    <!-- Page Content -->
    <div class="container">

        <h1 class="my-4">Bem vindo ao projeto: Proposta e Avaliação de Templates de descrição Textual para vocalização de gráficos de barras</h1>

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Gráfico de Barras</h4>
                    <div class="card-body">
                        <p class="card-text">Apresentação dos gráficos de barra para interação.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Gráfico de Pizza</h4>
                    <div class="card-body">
                        <p class="card-text">Apresentação dos gráficos de pizza para interação.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card h-100">
                    <h4 class="card-header">Scatter Plot</h4>
                    <div class="card-body">
                        <p class="card-text">Apresentação dos gráficos scatter plot para interação.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <h2><strong>Gráficos</strong></h2>

        <div class="row">
            <div class="col-lg-4 col-sm-12 portfolio-item">
                <div class="card h-100">
                    <!-- colocar aqui o ajax -->
                    <a href=""><img class="card-img-top" scr="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar0.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="">Gráfico 1</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="bar"><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar1.png?raw=true" alt="LABVIS"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 2</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar2.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 3</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar3.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 4</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar4.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 5</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png/bar5.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 6</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de barra</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" url="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie0.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 7</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" url="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie1.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 8</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie2.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 9</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie3.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 10</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie4.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 11</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href=""><img class="card-img-top" src="https://github.com/nolovedeepdev/flask/blob/master/app/static/png-pie/pie5.png?raw=true" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">Gráfico 12</a>
                        </h4>
                        <p class="card-text">Exemplo de gráfico de Pizza</p>
                    </div>
                </div>
            </div>
        </div>



        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="row mb-4">
            <div class="col-md-8">
                <p>Gráficos de dados, tais como barra, linha e pizza, são amplamente utilizados em diversos contextos cotidianos das pessoas, desde propagandas em jornais, revistas e internet, passando pelo acompanhamento financeiro, até dados científicos, entre muitos outros. Dada a diversidade de cenários e propósitos de uso de dados, a área de Visualização da Informação (InfoVis) tem se expandido devido à sua capacidade de apresentar insights significativos sobre conjuntos de dados cada vez maiores e complexos.</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-lg btn-secondary btn-block" href="#">Voltar ao topo</a>
            </div>
        </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Laboratório de Visualização, Interação e Sistemas Inteligentes 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src=".../vendor/jquery/jquery.min.js"></script>
    <script src=".../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
         // MDB Lightbox Init
         $(function () {
            $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
        });

        // Adding animations to the sections
        $("section").addClass("wow fadeIn");

        // Animations Init
        new WOW().init();
    </script>
</body>

</html>
