<!DOCTYPE html>
  <html lang="pt-br">
    <link rel="shortcut icon" href="https://labvis-ufpa.github.io//favicon.png">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LABVIS - Interação</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar2.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <!-- navbar init -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="media d-flex align-items-center"><img src="http://labvis.ufpa.br//images/logo.png" alt="LABVIS" width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm"> </div> <a class="navbar-brand" href="index/">LABVIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <a class="dropdown-item" href="http://labvis.ufpa.br/">LABVIS</a>
            <a class="dropdown-item" href="https://portal.ufpa.br/">UFPa</a>
            <a class="dropdown-item" href="https://github.com/nolovedeepdev/flask">Sobre o projeto</a>     
          </ul>       
        </div>
      </div>
    </nav>
    <!-- end navbar -->

    <div class="registration-form">
      <form action="/upload" emethod="POST" enctype=multipart/form-data>
        <!--Close button-->
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true"><a href="index">&times;</a></span>
        </button>
        
        <!--Static Image-->
        <h4><strong> Static </strong></h4>
        <hr>
        <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename='img/bar17.png') }}">

        <!--Axis grid--> 
        <div id="axis" class="alert alert-success alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Click</strong> na imagem para extrair os dados!<br>
        </div>

        <div class="custom-file">
          <input enctype="multipart/form-data" type="file" class="custom-file-input" name="image" id="image">
          <label class="custom-file-label" for="image">Select image...</label>
        </div>
        <button type="submit" class="btn btn-success">Upload image</button>
        <h1> </h1>
        <br>
        <h4><strong>Canvas</strong></h4>
        <hr>
        <canvas id="myCanvas"></canvas>
        <hr>

      </form>
    </div>

  </body>
    <!--Ajax's Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Ajax for axis-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/ajaxscript.js') }}"></script>

</html>
